body {
  margin-left: 15px;
}

.js-search-results img {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
}

.js-search-results img:hover {
  opacity: 0.8;
  border-top: 1px solid black;
}